.product {
  width: 200px;
  aspect-ratio: 1 / 1.5;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.product > div {
  margin: 2.5px 0;
  font-size: 14px;
}

.product > .product-add > button,
.product > .product-add {
  width: 100%;
}
